<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Página Principal</title>
        <!-- Enlace a archivo CSS en la carpeta styles -->
        <link rel="stylesheet" href="./styles/generalStyle.css" />
        <link rel="stylesheet" href="./styles/loginStyle.css" />
        <script src="../Model/loginReg.js" src="text/javascript"></script>
    </head>
    <body>
        <header>
            <div class="container bar">
                <div id="logo">
                    <img
                        src="./img/Logo-camisaEdit.svg"
                        alt="Logo Camisaedit"
                        width="40"
                        height="40" />
                    <div>
                        <h1>Camisaedit</h1>
                        <p>Camisetas para todos</p>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="#">Acerca de</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a id="link_iniSess_nav" href="#">Iniciar Sesión</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <section id="sect_form">
                <h2>Inciar Sesión</h2>
                <form id="form_contact" action="#" method="post">
                    <fieldset>
                        <label for="input_email">Correo:</label>
                        <div class="div_input">
                            <input
                                type="email"
                                id="input_email"
                                name="email"
                                required
                                placeholder="ejemplo@email.com" />
                            <span aria-live="polite">Email erróneo</span>
                        </div>
                        <label for="input_passwd">Contraseña:</label>
                        <div class="div_input">
                            <input
                                type="password"
                                id="input_passwd"
                                name="passwd"
                                required
                                placeholder="123456" />
                            <span aria-live="polite">Contraseña errónea</span>
                        </div>
                    </fieldset>
                    <button id="btn_add_entrada" disabled>Iniciar Sesión</button>
                </form>
                <p>¿No tienes una cuenta? <a id="link_iniSess" href="register.html">¡Regístrate!</a></p>
            </section>
        </main>
        <!-- FOOTER -->
        <footer>
            <p>&copy; 2026 Iru Borredá Bin. Todos los derechos reservados.</p>
        </footer>
    </body>
    </body>

    <script>
        // VALIDACIONES (llaman al archivo js linkeado)//

        // Para el nombre completo (Línea 27 del archivo script)
        document.getElementById("input_name").addEventListener("keyup", validName);

        // Para el email (línea 38 del archivo script)
        document.getElementById("input_email").addEventListener("keyup", validEmail);

        // Para el número de teléfono
        // Validación (Línea 62 del archivo script)
        document.getElementById("input_telefono").addEventListener("keyup", validTlf);
        // Prevención de que se pongan otros carácteres que no sean números (Línea 74 del archivo script)
        // Aquí utilizamos keydown en vez de up para "interceptar" el ingreso del carácter antes que aparezca el input.
        document.getElementById("input_telefono").addEventListener("keydown", noLetras);

        // Para que se acepten los términos y condiciones (Línea 95 del archivo script)
        // A pesar que el checkbox de términos y condiciones ya está marcado como "required" podemos añadir
        // una manera adicional de asegurarnos que el usuario las acepte: Deshabilitando el botón "enviar"
        // hasta que el checkbox esté checkeado.
        function sendToValidationChkEnabler(id_button, habilitado) {
            //Llamado desde un atributo onclick desde el checkbox (línea 110 de este archivo)
            terminosChecker(id_button, habilitado);
        }

        // Para que se deshabiliten las elecciones de fecha que sean posteriores al día actual.
        input_nacimiento.max = new Date().toISOString().split("T")[0];

        // Cuando el formulario es dado para enviar, esta función intercepta el proceso para mostrar la notificación y luego enviarlo
        const formulario = document.getElementById("form_contact");
        formulario.addEventListener("submit", (e) => {
            e.preventDefault();
            alert("Formulario enviado correctamente.");
            formulario.submit();
        });
    </script>
</html>
