<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Página Principal</title>
        <!-- Enlace a archivo CSS en la carpeta styles -->
        <link rel="stylesheet" href="./styles/generalStyle.css" />
        <link rel="stylesheet" href="./styles/loginStyle.css" />
        <script src="../Model/loginReg.js" src="text/javascript"></script>
    </head>
    <body>
        <header>
            <div class="container bar">
                <div id="logo">
                    <img
                        src="./img/Logo-camisaEdit.svg"
                        alt="Logo Camisaedit"
                        width="40"
                        height="40" />
                    <div>
                        <h1>Camisaedit</h1>
                        <p>Camisetas para todos</p>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="#">Acerca de</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a id="link_iniSess_nav" href="#">Iniciar Sesión</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <section id="sect_form">
                <h2>Registrarse</h2>
                <form id="form_contact" action="#" method="post">
                    <fieldset>
                        <legend>Formulario</legend>
                        <label for="input_name">Nombre Completo:</label>
                        <div class="div_input">
                            <input
                                type="text"
                                id="input_name"
                                name="name"
                                required
                                placeholder="Nombre Completo" />
                            <span aria-live="polite"
                                >Se necesita un nombre válido (Solo letras, mínimo 3
                                carácteres)</span
                            >
                        </div>

                        <label for="input_email">Correo:</label>
                        <div class="div_input">
                            <input
                                type="text"
                                id="input_email"
                                name="email"
                                required
                                placeholder="ejemplo@email.com" />
                            <span aria-live="polite">Se necesita un email válido</span>
                        </div>
                        <label for="input_telefono">Teléfono: +34</label>
                        <div class="div_input">
                            <input
                                type="text"
                                id="input_telefono"
                                name="telefono"
                                placeholder="123456789"
                                maxlength="9" />
                            <span aria-live="polite"
                                >Se necesita un número de teléfono válido (solo números sin
                                espacios, nueve dígitos)</span
                            >
                        </div>
                        <label for="input_nacimiento">Fecha de nacimiento:</label>
                        <div class="div_input">
                            <input type="date" id="input_nacimiento" name="nacimiento" required />
                            <span aria-live="polite">Se necesita una fecha válida</span>
                        </div>
                        <label>Género:</label>
                        <div class="div_input">
                            <div class="f_select">
                                <label for="radio_hombre">Hombre</label>
                                <input
                                    type="radio"
                                    id="input_radio_hombre"
                                    name="genero"
                                    value="hombre" />

                                <label for="radio_mujer">Mujer</label>
                                <input
                                    type="radio"
                                    id="input_radio_mujer"
                                    name="genero"
                                    value="mujer" />

                                <label for="radio_no_compartir">No compartir</label>
                                <input
                                    type="radio"
                                    id="input_radio_no_compartir"
                                    name="genero"
                                    value="no_compartir" />
                            </div>
                            <span aria-live="polite">Elija una de las opciones por favor</span>
                        </div>
                        <label for="input_select_pais">País:</label>
                        <div class="div_input">
                            <select id="input_select_pais" name="pais">
                                <option value="">Seleccione un país</option>
                                <option value="espana">España</option>
                                <option value="francia">Francia</option>
                                <option value="alemania">Alemania</option>
                            </select>
                            <span aria-live="polite">Elija un país</span>
                        </div>
                        <label for="input_chk_terminos">Acepto los términos y condiciones:</label>
                        <div class="div_input">
                            <input
                                type="checkbox"
                                id="input_chk_terminos"
                                name="terminos"
                                required
                                oninvalid="
                                    this.setCustomValidity(
                                        'Accepte los términos y condiciones por favor',
                                    )
                                "
                                oninput="this.setCustomValidity('')"
                                onclick="
                                    sendToValidationChkEnabler('btn_add_entrada', this.checked)
                                " />
                            <span aria-live="polite"
                                >Para proseguir, acepte los términos y condiciones</span
                            >
                        </div>
                    </fieldset>
                    <button id="btn_add_entrada" disabled>Enviar</button>
                </form>
                <p>¿Tienes una cuenta? <a id="link_iniSess" href="login.html">¡Inicia tu sesión!</a></p>
            </section>
        </main>
    </body>
    <!-- FOOTER -->
    <footer>
            <p>&copy; 2026 Iru Borredá Bin. Todos los derechos reservados.</p>
    </footer>
    <script>
        // VALIDACIONES (llaman al archivo js linkeado)//

        // Para el nombre completo (Línea 27 del archivo script)
        document.getElementById("input_name").addEventListener("keyup", validName);

        // Para el email (línea 38 del archivo script)
        document.getElementById("input_email").addEventListener("keyup", validEmail);

        // Para el número de teléfono
        // Validación (Línea 62 del archivo script)
        document.getElementById("input_telefono").addEventListener("keyup", validTlf);
        // Prevención de que se pongan otros carácteres que no sean números (Línea 74 del archivo script)
        // Aquí utilizamos keydown en vez de up para "interceptar" el ingreso del carácter antes que aparezca el input.
        document.getElementById("input_telefono").addEventListener("keydown", noLetras);

        // Para que se acepten los términos y condiciones (Línea 95 del archivo script)
        // A pesar que el checkbox de términos y condiciones ya está marcado como "required" podemos añadir
        // una manera adicional de asegurarnos que el usuario las acepte: Deshabilitando el botón "enviar"
        // hasta que el checkbox esté checkeado.
        function sendToValidationChkEnabler(id_button, habilitado) {
            //Llamado desde un atributo onclick desde el checkbox (línea 110 de este archivo)
            terminosChecker(id_button, habilitado);
        }

        // Para que se deshabiliten las elecciones de fecha que sean posteriores al día actual.
        input_nacimiento.max = new Date().toISOString().split("T")[0];

        // Cuando el formulario es dado para enviar, esta función intercepta el proceso para mostrar la notificación y luego enviarlo
        const formulario = document.getElementById("form_contact");
        formulario.addEventListener("submit", (e) => {
            e.preventDefault();
            alert("Formulario enviado correctamente.");
            formulario.submit();
        });
    </script>
</html>
